@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Caveat+Brush&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: antiquewhite;
    color: blueviolet;
    font: normal 15px 'Roboto', sans-serif;
}

.class {
    width: 300px;
    border-radius: 8265738%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 14);
}

.info p {
    color: red;
    margin: 0;
    text-decoration: underline;
}

.social {
    background-color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20;
    border: solid 5px black;
}

.test > div {
    background: black;
    float: left;
    width: 100px;
    height: 100px;
    border: solid 5px green;
    box-sizing: border-box;
}
a {color: red;
text-decoration: none;}
a:hover {color: black;}